Source: dmcrypt-openrc
Section: misc
Priority: important
Maintainer: Uri Herrera <uri_herrera@nxos.org>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: http://nxos.org


Package: dmcrypt-openrc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, openrc, cryptsetup, cryptsetup-initramfs, keyutils, cryptmount
Conflicts: systemd, systemd-sysv
Description: Package to add dmcrypt configuration for OpenRC.
 This package will add the boot scripts to use dmcrypt
 with OpenRC in Nitrux.

